ldif/__pycache__
ldif/*/__pycache__
ldif/gaps
ldif/ldif2mesh/ldif2mesh
ldif/trained_models
.DS_Store
2obj_model
2obj_ds
env
input_meshes
input_meshes_eval
test_dataset
test_ds
*.grd
*.obj
*.ply
*.off
*.h5
*.tfrecords
*.npz
*.pts
*orig_to_gaps.txt
*train.txt
*.png
*.sdf
shapenet_subsample_ds
Numbers
